{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block body %}
    <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                <h2>What we will create?</h2>
                <ul class="list-group">
                    <li class="list-group-item">public app part for data overview</li>
                    <li class="list-group-item">secured crud app part</li>
                    <li class="list-group-item">console command</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
