{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/search') }}
{% endblock %}

{% block body_id 'film_db_search' %}

{% block main %}
    <form action="{{ path('film_db_search') }}" method="get">
        <div class="form-group">
            <input name="q"
                   class="form-control search-field"
                   placeholder="search for..."
                   autocomplete="off"
                   autofocus
                   data-no-results-message="<li class='list-group-item'>search no result</li>"
                   data-item-templates='["film","person"]'
            >
            <template id="film" class="hidden">
                <li class="list-group-item">
                    <h3 class="list-group-item-heading">{% if is_granted('ROLE_ADMIN') %}<a href="{{ '{{ urlShow }}' }}"><i class="fa fa-pencil"></i></a> {% endif %}<a href="{{ '{{ url }}' }}">{{ '{{ title }}' }}</a> <small>{{ '{{ year }}' }}</small></h3>
                    <div class="list-group-item-text">{{ '{{ description }}' }}</div>
                </li>
            </template>
            <template id="person" class="hidden">
                <li class="list-group-item">
                    <h3 class="list-group-item-heading">{% if is_granted('ROLE_ADMIN') %}<a href="{{ '{{ urlShow }}' }}"><i class="fa fa-pencil"></i></a> {% endif %}<a href="{{ '{{ url }}' }}">{{ '{{ fullName }}' }}</a> <small>{{ '{{ birthDate }}' }}</small></h3>
                    <div class="list-group-item-text">{{ '{{ nationality }}' }}</div>
                </li>
            </template>
        </div>
    </form>

    <div id="results">
    </div>
{% endblock %}
