{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
{% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey }}
    </div>
{% endif %}

<div class="row">
    <div class="col-sm-5">
        <div class="well">
            <form action="{{ path('app_login') }}" method="post">
                <fieldset>
                    <legend><i class="fa fa-lock" aria-hidden="true"></i> Login</legend>
                    <div class="form-group">
                        <label for="username">Email</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="_password" class="form-control" />
                    </div>
                    <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
