<li class="list-group-item">
    <h3 class="list-group-item-heading">
        {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('film_show', {'id': film.id}) }}"><i class="fa fa-pencil"></i></a> {% endif %}
        <a href="{{ path('film_detail', {'slug': film.slug}) }}">{{ film.name }}</a>
        <small>{{ film.year|date('Y') }}</small>
    </h3>
    <div class="list-group-item-text">{{ film.description|trunc(100) }}</div>
</li>