{% extends 'base.html.twig' %}

{% block title %}{{ film.name }}{% endblock %}

{% block body %}
    <h1>{{ film.name }} <small>{{ film.year|filmYear }}</small></h1>
    <p>{{ film.description }}</p>

    {% set lastRole = '' %}
    {% if roles is defined %}
        {% for film_person_role in roles %}
            {% if film_person_role.role.name != lastRole %}
                <h3>{{ film_person_role.role.name }}</h3>
            {% endif %}
            <a href="{{ path('person_detail', {'slug': film_person_role.person.slug}) }}">{{ film_person_role.person.fullName }} <small>({{ personDates(film_person_role.person) }})</small></a>
            {% set lastRole = film_person_role.role.name %}
        {% endfor %}
    {% endif %}
{% endblock %}
