{% extends 'base.html.twig' %}

{% block title %}Film index{% endblock %}

{% block body %}
    <h1>Films</h1>
    {% if futureFilms %}
        <h2>Future films</h2>
        <ul class="list-group">
            {% for film in futureFilms %}
                {{ include('film/_film_list_item.html.twig') }}
            {% endfor %}
        </ul>
    {% endif %}
    {% if latestFilms %}
        <h2>Latest films</h2>
        <ul class="list-group">
            {% for film in latestFilms %}
                {{ include('film/_film_list_item.html.twig') }}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
