{% extends 'base.html.twig' %}

{% block title %}Film #{{ film.id }}{% endblock %}

{% block body %}
    <a href="{{ path('film_edit', {'id': film.id}) }}"><h1><i class="fa fa-pencil"></i> Film #{{ film.id }} </h1></a>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ film.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ film.slug }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ film.year|filmYear }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ film.description }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('form/_delete_form.html.twig', {'deletePathName': 'film_delete', 'deleteId': film.id}) }}

    {% if roles is defined %}
        <h2>Roles</h2><a href="{{ path('film_add_role_person', {'filmId': film.id}) }}">add person role</a>
        <table class="table table-striped table-middle-aligned">
            <thead>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>Person</th>
                <th>Person dates</th>
                <th>Person nationality</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for film_person_role in roles %}
                <tr>
                    <td>{{ film_person_role.id }}</td>
                    <td>{{ film_person_role.role.name }}</td>
                    <td>{{ film_person_role.person.fullName }}</td>
                    <td>{{ personDates(film_person_role.person) }}</td>
                    <td>{{ film_person_role.person.nationality }}</td>
                    <td>
                        {{ include('form/_delete_form.html.twig', {'deletePathName': 'film_person_role_delete', 'deleteId': film_person_role.id}) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
