{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Film database{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            <header>
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header col-md-3 col-lg-2">
                            <a class="navbar-brand" href="{{ path('homepage') }}">Film database</a>
                            <button type="button" class="navbar-toggle"
                                    data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">Toggle nav</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                {% block header_navigation_links %}
                                    <li>
                                        <a href="{{ path('film_index') }}">
                                            <i class="fa fa-file-movie-o" aria-hidden="true"></i> Films
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('person_index') }}">
                                            <i class="fa fa-users" aria-hidden="true"></i> Persons
                                        </a>
                                    </li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="admin">
                                                <i class="fa fa-cogs" aria-hidden="true"></i>
                                                <span class="caret"></span>
                                                <span class="sr-only">Administration</span>
                                            </a>
                                            <ul class="dropdown-menu admin" role="menu" aria-labelledby="admin">
                                                <li>
                                                    <a href="{{ path('role_index') }}">
                                                        Roles
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('film_new') }}">
                                                        <i class="fa fa-film" aria-hidden="true"></i> Add new film
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('person_new') }}">
                                                        <i class="fa fa-user" aria-hidden="true"></i> Add new person
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('role_new') }}">
                                                        <i class="fa fa-book" aria-hidden="true"></i> Add new role
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endblock %}

                                <li>
                                    <a href="{{ path('film_db_search') }}"> <i class="fa fa-search"></i> Search</a>
                                </li>

                                {% if app.user %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="user">
                                            <i class="fa fa-user-secret" aria-hidden="true"></i>
                                            <span class="caret"></span>
                                            <span class="sr-only">{{ app.user.fullname }}</span>
                                        </a>
                                        <ul class="dropdown-menu user" role="menu" aria-labelledby="user">
                                            <li>
                                                <a href="{{ path('app_logout') }}">
                                                    <i class="fa fa-sign-out" aria-hidden="true"></i> logout
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('app_login') }}">
                                            <i class="fa fa-sign-in" aria-hidden="true"></i> Login
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        <div class="container body-container">
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-12">
                        {{ include('default/_flash_messages.html.twig') }}

                        {% block main %}{% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-md-12">
                            <p>&copy; {{ 'now'|date('Y') }} - Film database</p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
    </body>
</html>
