<form method="post" action="{{ path(deletePathName, {'id': deleteId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ deleteId) }}">
    <button class="{{ cssClass|default('btn btn-danger btn-sm') }}">{{ deleteLabel|default('Delete') }}</button>
</form>
