<li class="list-group-item">
    <h3 class="list-group-item-heading">
        {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('person_show', {'id': person.id}) }}"><i class="fa fa-pencil"></i></a> {% endif %}
        <a href="{{ path('person_detail', {'slug': person.slug}) }}">{{ person.fullName }}</a>
        <small>{{ person.birthDate|date('d.m.Y') }} - {% if person.deathDate %}{{ person.deathDate|date('d.m.Y') }}{% endif %}</small>
    </h3>
    <div class="list-group-item-text">{{ person.nationality }}</div>
</li>