{% extends 'base.html.twig' %}

{% block title %}{{ person.fullName }}{% endblock %}

{% block body %}
    <h1>{{ person.fullName }} <small>{{ person.birthDate|date('d.m.Y') }} - {{ person.deathDate ? person.deathDate|date('d.m.Y') : '' }}</small></h1>
    <h2>Personalities</h2>
    <div>Nationality: {{ person.nationality }}</div>

    {% set lastRole = '' %}
    {% if roles is defined %}
        {% for film_person_role in roles %}
            {% if film_person_role.role.name != lastRole %}
                <h3>{{ film_person_role.role.name }}</h3>
            {% endif %}
            <a href="{{ path('film_detail', {'slug': film_person_role.film.slug}) }}">{{ film_person_role.film.name }} <small>({{ film_person_role.film.year|date('Y') }})</small></a>
            {% set lastRole = film_person_role.role.name %}
        {% endfor %}
    {% endif %}
{% endblock %}
