{% extends 'base.html.twig' %}

{% block title %}Edit Person{% endblock %}

{% block body %}
    <h1>Edit Person</h1>
    {{ include('form/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
