{% extends 'base.html.twig' %}

{% block title %}Persons{% endblock %}

{% block body %}
    <h1>Persons</h1>
    {% if bornThisMonthPersons %}
        <h2>Born this month</h2>
        <ul class="list-group">
            {% for person in bornThisMonthPersons %}
                {{ include('person/_person_list_item.html.twig') }}
            {% endfor %}
        </ul>
    {% endif %}

    {% if persons %}
        <h2>Few random persons</h2>
        <ul class="list-group">
            {% for person in persons %}
                {{ include('person/_person_list_item.html.twig') }}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
