{% extends 'base.html.twig' %}

{% block title %}Person #{{ person.id }}{% endblock %}

{% block body %}
    <a href="{{ path('person_edit', {'id': person.id}) }}"><h1><i class="fa fa-pencil"></i> Person #{{ person.id }} </h1></a>

    <table class="table table-striped table-middle-aligned">
        <tbody>
            <tr>
                <th>FullName</th>
                <td>{{ person.fullName }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ person.slug }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ person.nationality }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ person.birthDate|date('d.m.Y') }}</td>
            </tr>
            <tr>
                <th>DeathDate</th>
                <td>{{ person.deathDate ? person.deathDate|date('d.m.Y') : '' }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('form/_delete_form.html.twig', {'deletePathName': 'person_delete', 'deleteId': person.id}) }}

    {% if roles is defined %}
        <h2>Roles</h2><a href="{{ path('person_add_role_film', {'personId': person.id}) }}">add film role</a>
        <table class="table table-striped table-middle-aligned">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Role</th>
                    <th>Film</th>
                    <th>Film year</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for film_person_role in roles %}
                <tr>
                    <td>{{ film_person_role.id }}</td>
                    <td>{{ film_person_role.role.name }}</td>
                    <td>{{ film_person_role.film.name }}</td>
                    <td>{{ film_person_role.film.year|date('Y') }}</td>
                    <td>
                        {{ include('form/_delete_form.html.twig', {'deletePathName': 'film_person_role_delete', 'deleteId': film_person_role.id}) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
