{% extends 'base.html.twig' %}

{% block title %}Role index{% endblock %}

{% block body %}
    <h1>Role index</h1>
    <a href="{{ path('role_new') }}">Create new</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.name }}</td>
                <td>
                    <a class="btn btn-primary btn-sm pull-left" role="button" href="{{ path('role_edit', {'id': role.id}) }}">edit</a>
                    {% if role.usage == 0 %}{{  include('form/_delete_form.html.twig', {'deletePathName': 'role_delete', 'deleteId': role.id}) }}{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
